<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="gaowei.textwatchface">
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.DeviceDefault">



        <!--<service android:name="gaowei.commom.MyWatchFaceService"-->
            <!--android:label="myFace"-->
            <!--android:allowEmbedded="true"-->
            <!--android:taskAffinity=""-->
            <!--android:permission="android.permission.BIND_WALLPAPER">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.service.wallpaper.WallpaperService" />-->
                <!--<category-->
                    <!--android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />-->
            <!--</intent-filter>-->
            <!--<meta-data-->
                <!--android:name="android.service.wallpaper"-->
                <!--android:resource="@xml/watch_face" />-->
            <!--<meta-data-->
                <!--android:name="com.google.android.wearable.watchface.preview"-->
                <!--android:resource="@drawable/preview_my" />-->
            <!--<meta-data-->
                <!--android:name="com.google.android.wearable.watchface.preview_circular"-->
                <!--android:resource="@drawable/preview_my_circular" />-->
        <!--</service>-->

        <service android:name="gaowei.commom.GradientWatchFaceService"
            android:label="Gradient Watch Face"
            android:allowEmbedded="true"
            android:taskAffinity=""
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category
                    android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_gradient" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_gradient" />
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="gaowei.watchface.CONFIG_GRADIENT" />
        </service>
        <service android:name="gaowei.commom.DigitalWatchFaceConfigListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
